@font-face {
	font-family: 'Zurich BT';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/ZURCHN.TTF') format('ttf'),
		 url('../fonts/ZURCHN.woff') format('woff');
}
@font-face {
	font-family: 'zurichcondensed';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/zurichbt-romancondensed-webfont.woff') format('woff'),
		 url('../fonts/zurichbt-romancondensed-webfont.woff2') format('woff2');
}

*{
	margin:0;
	padding:0;
}
body{
	margin:0;
	padding:0;
}
.header{
	background:url(../images/top-bar.jpg) no-repeat;
	background-size: cover;
	width:100%;
	height:90px;
	display:flex;
	align-items:center;
	justify-content: space-between;
}

.header .title{
	color:#ffffff;
	font-family: 'Zurich BT';
	font-size:30px;
	font-weight:bold;
	font-style:italic;
	padding-left:50px;
}
.header .brand{
	padding-right:50px;
}
.content{
  	display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.leftSide{
	 flex: 1;
	 text-align:center;
	 align-items:center;
	 justify-content:center;
	  display: flex; 
}
.leftSide img{
	max-width:70%;
}
.rightSide{
	 text-align:center;
	 background:#f48220;
	 position: relative;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
	 display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  	
	align-items:center;
	justify-content:center;
	font-family:'zurichcondensed';
}
.searchForm .form-control{
	margin-bottom:30px;
}
.searchForm label{
	color:#ffffff;
	display:block;
	text-align:left;
	font-size:24px;
	padding-left:30px;
	padding-bottom:10px;
}
.searchForm input{
	background:#ffffff;
	border:5px solid #b02a30;
	border-radius:50px;
	height:70px;
	width:400px;
	font-size:24px;
	font-family:'zurichcondensed';
	padding-left:30px;
	outline:none;
}
.searchForm input[type=submit]{
	background:#b02a30;
	border:5px solid #ffffff;
	border-radius:50px;
	height:70px;
	width:200px;
	font-size:24px;
	color:#ffffff;
	padding-left:0;
}

.searchForm .otpEntry{
   text-align:center;
   background:#ffffff;
	border:5px solid #b02a30;
	border-radius:50px;
	height:70px;
	width:430px;
}
.searchForm .otpEntry input{
    border: 0;
    outline: 0;
	border-radius:0;
    background: transparent;
    border-bottom: 4px solid #9f9f9f;
    width: 35px;
    text-align:center;
    padding :0;
    margin-left:10px;
	height:auto;
	font-family:'zurichcondensed';
	color:#b02a30;
	margin-top:20px;
}
.resendOTP{
	display:flex;
	align-items:center;
	justify-content: space-between;
}
.resendOTP label{
	padding:0;
	font-size:16px;
}
.resendOTP label.btnResentOTP{
	border-bottom:2px solid #ffffff;
	font-size:24px;
	padding-bottom:0;
}
.searchForm .otpEntry input::-webkit-input-placeholder { /* Edge */
  color:#b02a30;
}
.searchForm .nobottom{
	margin-bottom:10px;
}
.searchForm .otpEntry input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#b02a30;
}

.searchForm .otpEntry input::placeholder {
  color:#b02a30;
}

/*=======================Inner page============================*/
.wrapper{
	max-width:1300px;
	margin:0 auto;
	border:1px solid;
}
.innerHeader{
	height:95px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
		 box-shadow: 0 8px 6px -6px black;
		 position: relative;
}
.loanBrand{
	margin-left:20px;
}
.innerContent{
	
}
.banner{
	background:no-repeat;
	height:441px;
	max-width:1300px;
}
.stepA{
	background-image:url(../images/slide3-banner.jpg);
}
.stepB{
	background-image:url(../images/slide4-banner.jpg);
}
.stepC{
	background-image:url(../images/slide5-banner.jpg);
}
.stepD{
	background-image:url(../images/slide6-banner.jpg);
}
.stepE{
	background-image:url(../images/slide7-banner.jpg);
}
.stepF{
	background-image:url(../images/slide8-banner.jpg);
}
.stepG{
	background-image:url(../images/slide9-banner.jpg);
}
.stepD2{
	background-image:url(../images/slide5-banner.jpg);
}
.stepE1{
	background-image:url(../images/slide11-banner.jpg);
}
.stepE2{
	background-image:url(../images/slide12-banner.jpg);
}
.stepE3{
	background-image:url(../images/slide13-banner.jpg);
}
.bannerText{
	color:#183e6c;
	font-size:60px;
	font-family:'zurichcondensed';
	padding-left:20px;
	padding-top:20px;
}
.stepsDetails{
	display:flex;
	align-items:center;
	justify-content:center;
	margin-top:-97px;
}
.steps{
	width:137px;
	height:149px;
	margin-left:25px;
	background:url(../images/steps-bg.png) no-repeat;
}

.steps.completed,.steps.l2,.steps.inprocess{
	background-image:url(../images/steps-active-bg.png)
}

/* .steps:first-child{
	background-image:url(../images/steps-first-bg.png);
	margin-left:0;
} */
/* .steps:last-child{
	background-image:url(../images/steps-last-bg.png);
} */
/* .steps.completed:last-child,.steps.l2:last-child,.steps.inprocess:last-child{
	background-image:url(../images/steps-last-active-bg.png);
} */
.stepNo{
	margin:-38px auto;
	padding:10px 0 0 0;
}
/* .steps:first-child .stepNo{
	padding:10px 0 0 10px;
} */
.steps:last-child .stepNo{
	padding:10px 2px 0 0;
}
.stepNo span{
	background:#ffffff;
	border:4px solid #9e9d93;
	width:57px;
	height:57px;
	border-radius:50%;
	margin:0 auto;
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:55px;
	font-family:'zurichcondensed';
	color:#a8a69c;
}
.steps.inprocess .stepNo span{
	color:#f48220;
	border:4px solid #f48220;
}
.steps.l2 .stepNo span{
	color:#af252f;
	border:4px solid #af252f;
}
.steps.completed .stepNo span{
	color:#159c49;
	border:4px solid #159c49;
}
.steps.completed{
	background-image:url(../images/steps-completed-bg.png);
}
.steps.l2{
	background-image:url(../images/steps-l2-bg.png);
}

.stepName{
	font-family:'zurichcondensed';
	font-size:16px;
	display:flex;
	align-items:center;
	justify-content:center;
	margin:40px auto 0;
	height:58px;
	text-align:center;
	color:#ffffff;
}
.stepStatus{
	font-size:12px;
	color:#0a4c80;
	font-family:'zurichcondensed';
	display:flex;
	align-items:center;
	justify-content:center;
	position:relative;
	height:52px;
	font-weight:bold;
}
.stepStatus span{
	background:url(../images/not-started-ico.png) no-repeat;
	padding-left:18px;
	height:16px;
}
.steps.inprocess .stepStatus span{
	background-image:url(../images/in-process-ico.png);
}
.steps.l2 .stepStatus span{
	background-image:url(../images/getintouch-ico.png);
}
.steps.completed .stepStatus span{
	background-image:url(../images/completed-ico.png);
}
.loanDetails{
	text-align:center;
	font-family: 'Zurich BT';
	font-size:20px;
	color:#231f20;
	margin-top:40px;
}
.loanStatus{
	margin-top:8px;

}
.levelDetails{
	display:flex;
	align-items:center;
	justify-content:center;
	margin-top:25px;
	margin-bottom:20px;
}
.level{
	background: no-repeat;
	height:58px;
	padding-left:45px;
	padding-top:5px;
	margin-right:50px;
}
.level1{
	background-image:url(../images/lvl1-ico.png);	
}
.level2{
	background-image:url(../images/lvl2-ico.png);	
}
.level3{
	background-image:url(../images/lvl3-ico.png);
	margin-right:0;	
}
.levelName{
	font-family: 'Zurich BT';
	font-weight:bold;
	font-style:italic;
	font-size:16px;
	color:#616262;
}
.exName{
	color:#808184;
	font-size:11px;
	font-family:'zurichcondensed';
}
.rs{
	max-width:6px;
}
.remitDetails{
	color: #231f20;
	font-size: 20px;
	font-family: 'Zurich BT';
	text-align: center;
	margin: 50px 0;
}
.note{
	color: #ffffff;
	max-width: 400px;
	margin: 0 auto;
	font-size: 16px;
	text-align: left;
}
.contacdetails{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top:30px;
}
.contacdetails a{
	color: #231f20;
	font-size: 18px;
}
.icon{
	display: flex;
	justify-content: center;
	margin-right: 30px;
}
.icon img{
	padding-right: 10px;
}
/*================== Start Select CSS ======================*/

/* The container must be positioned relative: */
.custom-select {
	position: relative;
	font-family:'zurichcondensed';
  }
  
  .custom-select select {
	display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
	background-color: #ffffff;
	border: 5px solid #b02a30;
	border-radius: 50px;
	width: 440px;
	height: 80px;
	box-sizing: border-box;
	padding: 0 25px;
	display: flex;
	align-items: center;
	font-size: 18px;
	color: #7f7f7f;
	z-index: 100;
	position: relative;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
	position: absolute;
	content: "";
	top: 30px;
	right: 25px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #c1c0c0 transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
	border-color: transparent transparent #c1c0c0 transparent;
	top: 25px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div {
	color: #7f7f7f;
	cursor: pointer;
	display: flex;
	align-items: center;
	padding: 0 25px;
	height: 60px;

  }

  .select-items div:first-child{
	padding:0px 25px 0 25px;
	margin-top: 25px;
  }
  
  /* Style items (options): */
  .select-items {
	position: absolute;
	background-color: #ffffff;
    border: 5px solid #b02a30;
	border-radius:0 0 35px 35px;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
	margin-top:-32px;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
	display: none;
  }
  
  .select-items div:hover, .same-as-selected {
	background-color:#af2930;
	color: #ffffff!important;
	border-radius: 30px;
  }
  .table_wrapper{
	margin: 50px auto;
  }
  .table {
	  width: 90%;
	  margin: 0 auto;
	  border-radius: 10px;
	  border: 0;
  }
  .table_head{
	  position: relative;
	  z-index: 1;
	  display: flex;
	  font-family:'zurichcondensed';
	  color: #6b6b6b;
	  font-size: 24px;
	  text-align: center;
	  background: #af2930;
	  border-radius: 50px;
	  padding: 0 18px;
  }
  .table_body_wrapper{
	margin-top: -30px;
	padding: 28px 15px 0 15px;
	border: 3px solid #f48120;
	background: #ffefdf;
	border-radius: 0 0 30px 30px;
	overflow: hidden;
  }
  .table_body{
	border-top: 0;
	font-family:'zurichcondensed';
	color: #6b6b6b;
	font-size: 24px;
	display: flex;
	background: #ffefdf;
	border-bottom: 2px solid #c1c0c0;
	align-items: center;
  }
  .table_body:nth-child(even){
	background: #ffdfca;
  }
  .table_body td{
	  width: 160px;
  }
  .table_body:last-child{
	  border-bottom: 0;
  }
  .heading {
	color: #ffffff;
	padding: 15px 0;
	flex: 160px;
	max-width: 160px;
	border: 1px solid #c1c0c0;
}
  .heading:first-child {
    border-radius: 50px 0 0 50px;
    border: 0;
    border-right: 1px solid #c1c0c0;
  }
  .heading:nth-child(3) {
	flex: 280px;
	max-width:280px;
}
  .heading:last-child {
	border-radius: 0px 50px 50px 0;
	flex: 590px;
	max-width: 590px;
	border: 0;
}
.body_text:first-child{
	border-left: 0;
}
.body_text {
	color: #6b6b6b;
	padding: 5px 0;
	flex: 160px;
	max-width: 160px;
	border: 2px solid #c1c0c0;
	text-align: center;
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
	align-items: center;
	display: flex;
    justify-content: center;
	min-height: 42px;
}
.body_text:nth-child(3) {
	flex: 280px;
	max-width:280px;
}
  .body_text:last-child {
	flex: 590px;
	max-width: 590px;
}

  .btn img{
	  width: 60px;
	  display: block;
	  margin: 0 auto;
  }
  .table tr:nth-child(even){
	background: #ffdfca;
  }
  .innertable{
    width: 95%;
    display: flex;
    padding-left: 3%;	
	align-items: center;
	 justify-content: space-between;
  }
  .innertable_text:first-child{
	  flex: 50%;
	  text-align: left;
  }
  .innertable_text:nth-child(2){
	flex: 30%;
	text-align: left;	
}
.innertable_text:last-child{
	flex: 20%;
}
/*================== END Select JS ======================*/

@media screen and (max-width: 1919px) {
	.header{
		height:78px;
	}
	.header .title{
		font-size:26px;
	}
	.searchForm label{
		font-size:20px;
	}
	.searchForm input{
		font-size:20px;
		width:342px;
		height:60px;
		box-sizing: border-box;
	}
	.searchForm input[type=submit]{
		width:177px;
		font-size:20px;
	}
	.searchForm .otpEntry{
		width:372px;
		height:60px;
	}
	.searchForm .otpEntry input{
		margin-top:15px;
		font-size:20px;
	}
	.resendOTP label.btnResentOTP{
		font-size:20px;
	}
	.innerHeader{
		height:95px;
	}
	.note{
		max-width:300px;
	}
	.select-selected{
		width: 340px;
		height: 60px;
	}
	.select-selected:after {
		top:22px;
	}
	.select-selected.select-arrow-active:after {
		top:15px;
	}
}
@media screen and (max-width: 1440px) {
	.header{
		height:60px;
	}
	.header .title{
		font-size:20px;
	}
	.header .brand img{
		max-width:127px;
	}
	.bannerText {
		font-size: 40px;
		padding-left: 15px;
		padding-top: 15px;
		line-height: normal;
	}
	.searchForm label{
		font-size:16px;
		padding-bottom:5px;
	}
	.searchForm input{
		font-size:16px;
		width:256px;
		height:50px;
	}
	.searchForm input[type=submit]{
		width:177px;
		font-size:16px;
		height:60px;
	}
	.leftSide img{
		max-width:402px;
	}
	.searchForm .otpEntry{
		width:285px;
		height:50px;
	}
	.searchForm .otpEntry input{
		margin-top:15px;
		font-size:16px;
		width:25px;
		border-bottom: 2px solid #9f9f9f
	}
	.innerHeader{
		height:78px;
	}
	.loanBrand img{
		max-width:127px;
	}
	
	.banner{
		height:400px;
	}
	.note{
		max-width:230px;
		font-size: 16px;
	}
	.select-selected{
		width: 256px;
		height: 50px;
		font-size: 16px;
	}
	.select-items div{
		height: 50px;
	}
	.select-selected:after {
		top:22px;
	}
	.select-selected.select-arrow-active:after {
		top:15px;
	}
	.loanDetails,.remitDetails{
		font-size: 16px;
	}
	.remitDetails{
		margin: 30px 0;
	}
	.contacdetails a{
		font-size: 14px;
	}
	.table_head{
		font-size: 18px;
	}
	.table_body{
		font-size: 16px;
	}
	.btn img{
		width: 40px;
	}
	.body_text{
		min-height: 28px;
	}

}

@media screen and (max-height: 725px) {
	.banner{
		height:320px;
		background-position: center center;
	}
}
@media screen and (max-height: 640px) {
	.banner{
		height:300px;
		background-position: center center;
	}
}
@media screen and (max-width: 1280px) {
	.leftSide{
		align-items: flex-end;
	}
	.leftSide img{
		height: auto;
	}
	
}
@media screen and (max-width: 768px) {
	.mainContent{
		background: url(../images/page-bg.jpg) 0px 0;
		background-size: cover;
	}
	.header .brand{
		padding-right:10px;
	}
	.header .title{
		padding-left:10px;
		font-size:12px;
	}
	.notitle .title{
		display: none;
	}
	.notitle .brand{
		margin: 0 auto;
		padding-right: 0;
	}
	.content{
		display:block;
		height:auto!important;
	}
	.leftSide{
		display:block;
	}
	.leftSide img{
		max-width: 80%;
	}
	.rightSide{
		display:block;
		padding:50px 0;
	}
	.rightSide form{
		width: 267px;
		margin: 0 auto;
	}
	.optionLabel{
		font-size: 16px;
	}
	.searchForm .mobNumber .countryCode{
		margin-right:10px ;
	}
	.searchForm .mobNumber .mobileNumber input{
		width: 93px;
	}
	.form-control{
		width:267px;
		margin:0 auto;
	}
	.searchForm input{
		width:100%;
	}
	.deskonly{
		display: none;
	}
	.mobonly{
		display: block;
	}
	.innerContent{
		  background:url(../images/mob-bg.jpg) bottom no-repeat;
		  background-size: 100%;
			
	}
	.bannerText{
		font-size: 24px;
		text-align: center;
		font-weight: bold;
		padding-bottom: 20px;
		padding-left: 0;
		padding-top: 20px;
	}
	.innerHeader{
		height: 55px;
	}
	.loanBrand{
		text-align: center;
		padding-top:5px;
		margin: 0 0 0 10px;
	}
	.banner{
		height: 250px;
		width: 100%;
		background-size: cover;
	}
	.stepsDetails{
		flex-wrap: wrap;
		margin-top: 20px;
	}
	.steps{
		height: 96px;
		width: 88px;
		background-size: contain!important;
		margin-bottom: 20px;
	}
	.stepNo{
		padding:26px 0 0 1px;
	}
	.stepNo span{
		width: 48px;
		height: 48px;
		font-size: 25px;
	}
	.steps:first-child .stepNo{
		padding:26px 0 0 7px;
	}
	.stepNo span {
		width: 27px;
		height: 27px;
		font-size: 18px;
	}
	.stepName{
		font-size: 10px;
		line-height: 12px;
		margin: 44px auto 0;
		height: 34px;
	}
	.stepStatus{
		font-size: 9px;
		height:30px;
	}
	.stepStatus span{
		height: 7px;
		background-size: contain;
		padding-left: 8px;
		line-height: 7px;
	}
	.steps:last-child .stepName{
		padding: 0 5px;
	}
	.steps:last-child .stepNo {
		padding: 26px 2px 0 1px;
	}
	.loanDetails{
		font-size: 12px;
		padding: 0 10px;
		margin-top: 0;
	}
	.levelDetails{
		width: 320px;
		margin: 15px auto 0;
		padding-bottom: 30px;
		
	}
	.level{
		background-size: 25px;
		padding-left: 30px;
		margin-right: 30px;
		
	}
	.level:last-child{
		margin-right: 0;
	}
	.levelName{
		font-size: 10px;
	}
	.exName{
		font-size: 10px;
	}
	.options{
		max-width:267px;
		font-size: 18px;
		margin: 0 auto 30px;
	}
	.options input[type="radio"] {
		-ms-transform: scale(1.3);
		-webkit-transform: scale(1.3);
		transform: scale(1.3);
		width: 18px;
		height:15px;
	}
	.select-selected{
		width: 100%;
	}
	.searchForm .form-control{
		margin-bottom: 15px;
	}
	.select-selected:after{
		top:18px;
	}
	.select-selected.select-arrow-active:after{
		top:10px;
	}
	.remitDetails{
		font-size: 12px;
	}
	.remitDetails{
		margin: 20px 0;
	}
	.table_head{
		font-size: 14px;
	}
	.table_body{
		font-size: 12px;
	}
	.btn img{
		width: 40px;
	}
	.body_text{
		height: 25px;
	}
	.heading{
		padding: 10px 0;
	}
}
@media screen and (max-width:579px) {
	.banner{
		height: 148px;
		background-size:100% 100%;
	}
	.bannerText{
		font-size: 20px;
		text-align: center;
		font-weight: bold;
		padding-bottom: 20px;
		padding-left: 0;
		padding-top:10px;
	}
	.stepsDetails {
		width: 280px;
		margin: 40px auto 0;
	}
	.steps:nth-child(3){
		margin-left: 0;
	}
	.loanDetails{
		margin-top:10px;
	}
	.steps:nth-child(odd){
		margin-left: 0;
	}
	.contacdetails{
		margin-top:20px;
	}
	.contacdetails a{
		font-size: 12px;
	}
	.icon img{
		width: 20px;
	}
	.table_wrapper{
		margin: 20px 0;
	}
	.table{
		width: 98%;
	}
	.table_head{
		font-size: 12px;		
	}
	.table_body{
		font-size: 10px;
	}
	.btn img{
		width: 40px;
	}
	.body_text{
		height: 25px;
		border-width: 1px;
	}
	.heading{
		padding: 10px 0;
		border-left: 0;
	}
	.table_body_wrapper{
		border-radius: 0 0 15px 15px;
		margin-top: -15px;
		padding-top: 10px;
		border-width: 2px;
	}
}